<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>7C5D827D-21B3-4922-BE57-C38187E78FBD</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>400</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>8-Core Intel Core i9</string>
				<key>cpuSpeedInMHz</key>
				<integer>2300</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>16</integer>
				<key>modelCode</key>
				<string>MacBookPro15,1</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone12,5</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
		<key>CE46FEEB-5E44-4E5D-9321-736B205F9418</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>100</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Quad-Core Intel Core i7</string>
				<key>cpuSpeedInMHz</key>
				<integer>2800</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>modelCode</key>
				<string>MacBookPro14,3</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>4</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone12,3</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
		<key>CF1FD819-9C96-4314-A93E-BEC6D2EAB192</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>0</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Apple M1</string>
				<key>cpuSpeedInMHz</key>
				<integer>0</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>modelCode</key>
				<string>MacBookPro17,1</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
		</dict>
	</dict>
</dict>
</plist>
